-e src/spreadflow-core
-e src/spreadflow-confviz
-e src/spreadflow-delta
-e src/spreadflow-exiftool
-e src/spreadflow-format-bson
-e src/spreadflow-jsonld
-e src/spreadflow-mongodb
-e src/spreadflow-observer-fs
-e src/spreadflow-pdf
-e src/spreadflow-thumbor
-e src/spreadflow-xslt
